<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<title>Matthew Tancreti :: {{ page.title }} </title>
<link rel="stylesheet" type="text/css" href="http://matthew.tancreti.net/css/default.css"/>
</head>

<body><div class="page_margins" id="{{ page.title }}">
	<div id="header">
		<h2><a href="http://projects.tancreti.net">Matthew Tancreti :: Open Source Projects</a></h2>
		<div class="clear"></div>
	
		<div class="hlist" id="nav">
			<ul>
				<li><a class="home" href="http://matthew.tancreti.net" title="Home">Home</a></li>
				<li><a class="code" href="http://matthew.tancreti.net/code.html" title="Projects">Code</a></li>
				<li><a class="about" href="http://matthew.tancreti.net/about.html" title="About">About</a></li>
			</ul>
		</div>
	</div>

	{{ content }}

</div></body>

</html>
