<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Matthew Tancreti : {{ page.title }} </title>
<link rel="stylesheet" type="text/css" href="/css/default.css"/>
</head>

<body>

<div id="header">
	<h2><a href="http://projects.tancreti.net">Matthew Tancreti</a></h2>
	<div class="clear"></div>

	<!-- begin: main navigation #nav -->
	<div id="nav">
		<div class="hlist">
			<ul>
				<li class="active">
					<a href="about" title="About"></a>
	         		</li>
				<li class="active">
					<a href="home" title="Home"></a>
	         		</li>
			</ul>
		</div>
	</div>
	<!-- end: main navigation -->
</div>

{{ content }}

</body>
</html>
